.vscode/settings.json
easypred/__pycache__/__init__.cpython-39.pyc
easypred/__pycache__/base_prediction.cpython-39.pyc
easypred/__pycache__/binary_prediction.cpython-39.pyc
easypred/__pycache__/numeric_prediction.cpython-39.pyc
easypred/tests/__pycache__/__init__.cpython-39.pyc
easypred/tests/__pycache__/test_binary.cpython-39.pyc
easypred/tests/__pycache__/test_numeric.cpython-39.pyc
easypred/tests/__pycache__/test_prediction.cpython-39.pyc
