predictions/__pycache__/__init__.cpython-39.pyc
predictions/__pycache__/base_prediction.cpython-39.pyc
predictions/__pycache__/binary_prediction.cpython-39.pyc
predictions/__pycache__/numeric_prediction.cpython-39.pyc
predictions/tests/__pycache__/__init__.cpython-39.pyc
predictions/tests/__pycache__/test_prediction.cpython-39.pyc
.vscode/settings.json
